<%- include('./Parts/head.ejs')%>
<%- include('./Parts/navbar.ejs')%>


<div class="container my-5 text-center w-50">
    <p class="alert alert-danger">
        you have not an access permission to entry this site.
    </p>
    <a href="/" class="btn btn-primary">
        Home
    </a>
</div>


<%- include('./Parts/footer.ejs')%>